<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="x5-orientation" content="portrait">
        <!--<meta name="referrer" content="no-referrer">-->
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
        <meta name="format-detection" content="telephone=no"/>
        <meta name="format-detection" content="email=no"/>
        <meta name="viewport" content="width=device-width,viewport-fit=cover,initial-scale=1,maximum-scale=1,minimum-scale=1.0,user-scalable=no">
        <title></title>
        <% if (process.env.NODE_ENV === 'development') { %>
            <script src="/base/js/vconsole.min.js" crossorigin="anonymous"></script>
            <script>
                var vConsole = new VConsole()
            </script>
        <% } %>
    </head>
    <body>
        <div id="root"></div>
    </body>
</html>
